# See http://help.github.com/ignore-files/ for more about ignoring files.

# Windows
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Thumbnails
._*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# compiled output
# =========================
/dist
/tmp
/bin
/out

# dependencies
# =========================
/node_modules
/bower_components

# IDEs and editors
# =========================
/.idea

# misc
# =========================
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#Ignore files build by Visual Studio
# =========================
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
#*.exe
#*.dll
